<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/logistics</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

        <!-- DB schema will be updated if needed -->
        <property name="hbm2ddl.auto">update</property>
        <mapping resource="com/logistics/entity/User.hbm.xml"/>
        <mapping class="com.logistics.entity.User"/>
        <mapping resource="com/logistics/entity/Order.hbm.xml"/>
        <mapping class="com.logistics.entity.Order"/>
        <mapping class="com.logistics.entity.Record"/>
        <mapping resource="com/logistics/entity/Record.hbm.xml"/>
    </session-factory>
</hibernate-configuration>